pandas
scikit-learn
matplotlib-inline
matplotlib
seaborn
plotnine
pymc
numpy
bambi
xgboost



requests
shiny
shinywidgets
urllib3
uvicorn
wcwidth
webencodings
websockets
widgetsnbextension

zipp
gunicorn
rsconnect-python
shinyswatch
Jinja2
mlflow