pandas
scikit-learn
matplotlib-inline
matplotlib
seaborn
plotnine
pymc
numpy
bambi
xgboost
SciPy


requests
shiny
shinywidgets
urllib3
uvicorn
wcwidth
webencodings
websockets
widgetsnbextension

zipp
gunicorn
rsconnect-python
shinyswatch
Jinja2
mlflow
torch
transformers


# openai
# tabulate
# langchain
# langchain-experimental
# langchain_openai
# build
# spacy